/* removes default white space display: flex;
  justify-content: center;
  align-items: center;
*/
/* style.css 

*/
@import url('https://googleapis.com');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0; 
background-image: url("images/dr2.jpg");
background-repeat: no-repeat;
background-size: cover;
image-rendering: pixelated;
}
header {
  background-color: #cce6ff;
  width: 100%;
  height: 19vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  
}
img {
  content: url("images/mira_logo.png");
  width: 15vw;
  height: 15vh;
  }

.mobile-text {
  display: none;
}
/* When screen is less than 960px */
@media (max-width: 960px) {
  img {
    display: none;
  }
  .mobile-text {
    display: block;
    color: #3399ff;
    font-size: clamp(16px, 10vw, 100px);
  }
}
#navbar {
  background-color: #006699;
  width: 100%;
  height: 8vh;
  position: fixed;
  top: 16vh;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
}

ul li {
  float: left;
}
#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 3vh;
  font-weight: bold;
}

ul li a:hover {
  background-color: #111111;
} 

form {
  width: 60%;
  max-width: 90%;   /* IMPORTANT */
  box-sizing: border-box;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgba(255,255,255,0.85);
  padding: 25px;
  border-radius: 12px;
}
form ul li {
  display: block;
}
label[for="id_password2"]{
    display: none;
    color: red;
}
h3{
  text-align: center;
  font-size: 5vh;
  margin-top: 1px;
}

form p {
 /* display: flex;
  flex-direction: column;
  align-items: center;   vertically align label + input */
  margin-bottom: 15px;
}
.helptext {
  display: block;
  margin-top: 4px;
}
form input {
  width: 100%;
  box-sizing: border-box;
}
form input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  /*margin: 10px;*/
}
form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;

}
.login {
  display: block;
  margin: 20px auto 0 auto;  /* top space + auto left/right centering */
  padding: 10px 20px;
  cursor: pointer;
  background-color:powderblue;
  font-family: 'Fredoka';
  font-size: 2.5vh;
    font-weight: bold;

}

/*
.login {
  align-self: center;
  padding: 10px 25px;
  border-radius: 8px;
}*/
